<h2>Tweet Summary</h2>


<div id="results-target">

</div>

<div class="form-inline" role="form" style="margin-top:30px;">
    <input type="text" class="form-control" placeholder="Enter a hashtag" id="enter-hashtag"> <button id="add-button" class="btn btn-default">Add</button>
</div>


<script id="results-template" type="text/x-handlebars-template">
    <div style="font-size: 150%; margin-top: 30px; margin-bottom: 30px;">Total unique hastags indexed: {{counter}}</div>

    <table class="table">
        <tr class="active">
            <th width="150px">Hashtag</th>
            <th>Positive</th>
            <th>Negative</th>
            <th>Total</th>
            <th>Last Updated</th>
            <th></th>
        </tr>
        {{#each totals}}
        <tr class="{{Sentiment}}">
            <th rowspan="2">{{Hashtag}}</th>
            <td>{{Positive}}</td>
            <td>{{Negative}}</td>
            <td>{{Total}}</td>
            <td>{{Date}}</td>
            <td><a class="remove" data-value="{{Hashtag}}" href="javascript:void(0);">Remove</a></td>
        </tr>
        <tr class="{{Sentiment}}">
            <td colspan="5">Last tweet: {{LastTweet}}</td>
        </tr>
        {{/each}}
    </table>
</script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Hieu Le</a>
        </div>
    </div>
</div>
<div id="main" class="container">

    <div id="connection-control-panel" class="row">
        <div class="span12">
            <button id="startBtn" class="btn btn-small" type="button"><i class="icon-play"></i> Start</button>
            <button id="stopBtn" class="btn btn-small" type="button"><i class="icon-stop"></i> Stop</button>
            <div class="pull-right"></div>
        </div>
    </div>
    <div class="row">
        <div id="map-holder" class="span8">
            <div id="map_canvas"></div>
        </div>
        <div id="messages-holder" class="span4">
            <ul id="messages"></ul>
        </div>
    </div>
</div>